.search-text input{
    
    font: normal normal normal 16px/21px Roboto;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0px;    
    width:100%;
    border: none;

}


.dashboard,
.analysis, 
.inbox, 
.history,
.user,
.maintainace,
.setting
{
    border: 0px solid black;
    display: flex;
    margin-left: 30px;
    width: 183px;
    height: 43px    
}

.dashboard img,
.analysis img, 
.inbox img, 
.history img,
.user img,
.maintainace img,
.setting img
{
    width: 15px;
    height: 15px;
    margin-top: 14px;
    margin-left: 17.5px;
}

.dashboard p,
.analysis p, 
.inbox p, 
.history p,
.user p,
.maintainace p,
.setting p
{
    margin-top: 12px;
    margin-left: 12.5px;
    margin-right: 60px;
    font-size: 16px;
    width: 78px;
    height: 21px;
    font: normal normal normal 15px/20px Roboto;
}
.dashboard{
    background: #FFF3F4 0% 0% no-repeat padding-box;
    border-radius: 5px;
    margin-top: 25px;
}
.dashboard p
{
    font: normal normal normal 16px/21px Roboto;
    color: #C8242F;
}

.inner {
    display: flex;
    height: auto;
    margin-left: 0px;
    
}
.footer{
    margin-top: 0px;   
    width: 1318px;
    height: 1359px;
    margin-left: 242px;
}


.footer p{
    width: 146px;
    font-size: 30px;
    height: 39px;
    margin-top:40.75px;
    margin-left: 48px;
    font: normal normal normal 30px/39px Roboto;
    letter-spacing: 0px;
    color: #000000;
}

.boxes .mstar{
    flex-direction: column;
}
.boxes .box{
    display: flex;
    margin-top: 22.25px;
    width: 219px;
    height: 116px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    margin-left: 30px;

}
.boxes .sbox{
    display: flex;
    margin-top: 22.25px;
    width: 219px;
    height: 116px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    opacity: 1;
    margin-left: 50px;

}
.sbox #star{
    width: 33px;
    height: 33px;
    margin-left: 38.03px;
    margin-top: 41.33px;
}
.box #star{
    width: 33px;
    height: 33px;
    margin-left: 38.03px;
    margin-top: 41.33px;
}
.box #numb,.sbox #numb{
    width: 77px;
    height: 33px;
    /* UI Properties */
    text-align: left;
    font: normal normal medium 25px/33px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    margin-top: 31.04px;
    margin-left: 19.33px;
}
.box #text,.sbox #text{
    width: 107px;
    height: 20px;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;
    margin-top:  0px;
    margin-left: 19.33px;
}
.graphs{
    display: flex;
}
.graph1 .histodata{
    display: flex;
}
.graphs .graph1{
    margin-top: 30px;
    margin-left: 50px;
    width: 802px;
    height: 400px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
}
.histodata .sale{
    width: 43px;
    height: 29px;
    text-align: left;
    font: normal normal normal 22px/29px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    margin-top: 23.52px;
    font-size: 22px;
    margin-left: 29px;
    font-weight: bold;
}
.graph1 #histogram{
margin-top: 37.98px;
margin-left: 33.5px;
}
.histodata .week{
margin-left: 539px;
}
.histodata .month{
    margin-right: 20.58px;
}
.histodata .week,.histodata .month
{
    width: 108px;
    height: 16px;
   margin-top: 24.1px;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    color: #ADADAD;
    font-size: 12px;
}

.histodata .year{
    width: 33px;
    height: 16px;
    font: normal normal normal 12px/16px Roboto;
    letter-spacing: 0px;
    font-size: 12px;
    border-bottom: 2px solid #C8242F;
    color: #C8242F;
    margin-top: 24.1px;
    margin-right: 29.58px;
}

.graphs .graph2{
    width: 385px;
    height: 398px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 32px;
}

.graph2 .sbycountry{
    width: 175px;
    height: 29px;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    margin-top: 23.52px;
    font-size: 22px;
    margin-left: 29px;
    color: #3E3E3E;
    font-weight: bold;
}
.graph2 #piechart{
    margin-top: 27.48px;
    margin-left: 89px;
}
.graph2 .pccolor{
    display: flex;
}
.pccolor .redc{
    margin-left: 49px;
    border-radius: 50%;
    background: #C8242F 0% 0% no-repeat padding-box;
    width: 18px;
    height: 18px;
}
.pccolor .usa
{
width: 166px;
height: 20px;
font-size: 15px;
/* UI Properties */
text-align: left;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
letter-spacing: 0px;
color: #3E3E3E;
margin-left: 9px;
}
.pccolor .greenc{
    margin-left: 26px;
    border-radius: 50%;
    background: #A2B86C 0% 0% no-repeat padding-box;
    width: 18px;
    height: 18px;
}
.pccolor .canada
{
    width: 51;
    height: 20px;
    /* UI Properties */
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    color: #3E3E3E;
    margin-left: 9px;
    font-size: 15px;
}



.pccolor .orangec{
    margin-left: 49px;
    margin-top: 18px;
    border-radius: 50%;
    background: #F16C20 0% 0% no-repeat padding-box;
    width: 18px;
    height: 18px;
}
.pccolor .russia
{
width: 166px;
height: 20px;
margin-top: 18px;
font-size: 15px;
text-align: left;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
letter-spacing: 0px;
color: #3E3E3E;
margin-left: 9px;
}
.pccolor .yellowc{
    margin-left: 26px;
    margin-top: 18px;
    border-radius: 50%;
    background: #EBC844 0% 0% no-repeat padding-box;
    width: 18px;
    height: 18px;
}
.pccolor .india
{
    width: 51;
    height: 20px;
    margin-top: 18px;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    color: #3E3E3E;
    margin-left: 9px;
    font-size: 15px;
}

.footer .tabled{
    margin-top: 30px;
    margin-left: 50px;
    width: 1217px;
    height: 558px;
    border-radius: 50%;  
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 5px;
}


.tabledata{
    display: flex;
}
.tabledata .invoice{
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 22.5px;
    font-size: 22px;
    margin-left: 29px;
    width: 82px;
    height: 29px;
    /* UI Properties */
    text-align: left;
    letter-spacing: 0px;
    color: #3E3E3E;
    opacity: 1;

}


.tabledata .viewall{
   
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    font-size: 12px;
    color: #C8242F;
    width: 43px;
    height: 16px;
    /* UI Properties */
    text-align: left;
    
     margin-left: 980px;
    letter-spacing: 0px;
   margin-top:26.1px ;
}

.tabled .tabledata{
margin-left: 40px;
font-size: 15px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
  }
  .tabdata{
    margin-top: 31px;
    margin-left: 40px;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
    border-bottom: #E9E9E9 solid 1px;
  }
  tr:last-child td{
    border-bottom: 0;
  }
  .tabdata th{
    width: 133px;
height: 20px;
    /* UI Properties */
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1.5px;
    color: #ADADAD;
    font-size: 15px;
  }
  .tabdata td{
    width: 216px;
    height: 20px;
    /* UI Properties */
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0px;
    color: #3E3E3E;
    font-size: 15px;
}

.tabdata .paid
{
width: 50px;
height: 26px;

background-color: #ebffef;
border-radius: 10%;
color: #3cdd5f;
text-align: center;
padding-top: 5px;
}


.tabdata .pending
{
    width: 75px;
    height: 26px;
background-color: #F8F8F8;
border-radius: 10%;
color: #BABABA;
text-align: center;
padding-top: 5px;
}


.tabdata .failed
{
    width: 60px;
    height: 26px;
background-color: #FFF5F5;
border-radius: 10%;
color: #FF4545;
text-align: center;
padding-top: 5px;
}
.d-flex .headcollapse2{
    display: none;

}

@media screen and (min-width:0px) and (max-width:660px) {
    

    .d-flex span{
        display: none;
        }
       
    .d-flex .headcollapse1{
        display: none;

    }
    .d-flex .headcollapse2{
        margin-top: 5px;
        display: block;
        width: 10%;
        height: 10%;
    }
    .details-container{flex-wrap: wrap}
    .details{width: 15%;}
}


.sidebar{
    margin-top: 60px;
    margin-left: 0px;   
    height: 1279px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    overflow: hidden;
    z-index: 1;
}
.width-0{
    width: 0px;
}
body{
    background-color: #FAFAFA;
}
.headerbar{
    position: fixed;
    width: 100%;
    height: 60px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    opacity: 1;
}
.innerpage{
    width: 80%;
    height: 1359px;
    margin-top: 20px;
    margin-left: 2%;
}

.innerpage h1{
    margin-top: 5%;
    
}
.boxes .row{
    width: 100%;
}
.card{
    height: 90%;
    width: 100%;
    border: 0px;
    background-color: #FFFFFF;
    margin-bottom: 5%; 
    z-index: -1; 
}
.card img{
    margin-left: 20px;
    margin-top: 15%;
    height: 33px;
    width: 33px;
}
.card .title{
    align-items: center;
    
    width: 77px;
    height: 33px;
    text-align: left;
    font: normal normal medium 25px/33px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
}
.card .content{
    margin-top: -5px;
    width: 100%;
    height: 50%;
    text-align: left;
    font: normal normal normal 15px/20px Roboto;
    letter-spacing: 0px;
    color: #3E3E3E;
    
}
.card-body{
    margin-left: 10px !important;
    padding: 0 !important;
    margin-top: 10%;
    flex-direction: column;
}
.row .col{
    width: 50%;
    height: 60%;
}